/* Global CSS */
body {
    background-color: #000;
    color: #fff;
    font-family: 'Raleway', sans-serif; 
}
h1 {
    font-size: 3.5em;
    letter-spacing: .2rem;
}
h2 {
    font-size: 2em;
    text-align: center;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.4em;
    margin-block-end: .3em;
    margin-block-start: .3em;
}
h5 {
    margin-block-end: 0;
    margin-block-start:0;
}
p {
    font-size: 1.2em;
    margin-block-end: .3em;
    margin-block-start: .3em;
}
a {
    color: #ff9ba4;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    text-decoration: none;
    cursor: pointer;
}
a:hover,
a:focus {
    color: #fff;
}

/* Nav */
.intro {
    margin: 5%;
}
.contact {
    font-size:2em;
    padding:10px
}


/* Content */
#logo_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.tab-content{
	display: none;
	padding: 15px;
}

.tab-content.current{
	display: inherit;
}
.tab_list {
    font-size: 1.5em;
    text-align: center;
}
.tab-link {
    border: 2px solid #ef9199;
    border-radius: 3px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.tab-link:hover {
    background-color: white;
    
}
.tab-link:hover a {
    color: black;
}

.title {
    font-family: 'Chicle', cursive;
}
#subhead {
    color: #fff;
    font-size: 1.5em;
    width: 80%;
    margin-left: 10%;
}

@media only screen and (max-width: 1200px) {
    img {
        max-width: 300px;
    }
}

/*Footer*/
footer{
    padding-top:50px;
    font-size: 12px;
}
.connect {
    font-size: 1.3em;
    text-align: right;
    padding-right: 2%;
}

.connect ul, li {
    list-style: none;
}
